<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- Подключение стилей -->
    <style>
        .product-card {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            transition: 0.3s;
        }

        .product-card:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<!-- Заголовок страницы -->
<h1>Все товары</h1>

<!-- Список продуктов в виде карточек -->
<div>
    <!-- Использование Thymeleaf для перебора всех продуктов -->
    <div th:each="product : ${products}" class="product-card">
        <h2 th:text="${product.name}">Название продукта</h2>
        <p th:text="${product.description}">Описание продукта</p>
        <p>Цена: <span th:text="${product.price}">Цена продукта</span></p>
        <a th:href="@{'/cart/add/' + ${product.id}}">Добавить в корзину</a> <!-- Ссылка для добавления в корзину -->
        <a th:href="@{'/products/' + ${product.id}}">Подробнее</a>
    </div>
</div>


</body>
</html>
